html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* Сброс */
.item,
.link,
.list,
.text,
.title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Переменные */
:root {
  /* Основные цвета текста */
  --pri-text-color: #212121;
  --sec-text-color: #757575;

  /* Основные цвета иконок */
  --pri-icon-color: #afb1b8;
  --sec-icon-color: #ffffff;
  /* Акцент */
  --accent-color: #2196f3;

  /* Основные цвета фона */
  --pri-background-color: #ffffff;
  --sec-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
}

/* Боди */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Лого */
.logo-web {
  color: #2196f3;
}
/* Лого хедер */
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #000000;
}

/* Лого футер */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #ffffff;
}

/* Хедер */
.page-header {
  border-bottom: #E5E5E5 1px solid;
  background: var(--pri-background-color);
}
.header-flex {
  display: flex;
  align-items: center;
}

/* Главная навигация */
.navigation {
  display: flex;
  align-items: center;
}

/* Переход на другие страницы */
.nav-list {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--pri-text-color);
}

.nav-list .link.current,
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

/* Контакты хедер */
.contacts-header {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.contacts-header > .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-header .link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--sec-text-color);
}

.contacts-header .icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}
